<script lang="ts">
  import '../../app.css'
  import Sidebar from '../../lib/Sidebar/SidebarMenu.svelte'
  import Footer from '../../lib/Footer.svelte'
</script>


<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <div class="menu p-4 overflow-y-auto w-80 bg-base-100 text-xl">
      <div>
        <label for="my-drawer" class="btn btn-square btn-ghost float-right">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M6 18L18 6M6 6l12 12" />
          </svg>
        </label>
      </div>
      <!-- Sidebar content here -->
      <div class="text-md">
        <Sidebar />
      </div>
    </div>
  </div>
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="w-full navbar bg-primary fixed t-0 drop-shadow-md">
      <div class="flex-none">
        <label for="my-drawer" class="btn btn-square btn-ghost text-primary-content">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8"
               fill="none"
               viewBox="0 0 24 24"
               stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                  d="M4 6h16M4 12h16M4 18h16" />
          </svg>
        </label>
      </div>
      <div class="flex-none pl-4">
        <a href="/" class="btn btn-square btn-ghost btn-home">
          <svg xmlns="http://www.w3.org/2000/svg"
               class="h-8 w-8"
               viewBox="0 0 512 512"
               stroke="current-color"
               xml:space="preserve">
	          <path d="M256,25.6c0,0-158.4,136.7-246.9,210.7C3.9,241.1,0,247.9,0,256c0,14.2,11.4,25.6,25.6,25.6h51.2v179.2
	                	c0,14.2,11.4,25.6,25.6,25.6h76.8c14.2,0,25.6-11.5,25.6-25.6V358.4h102.4v102.4c0,14.1,11.4,25.6,25.6,25.6h76.8
		                c14.2,0,25.6-11.4,25.6-25.6V281.6h51.2c14.2,0,25.6-11.4,25.6-25.6c0-8.1-3.9-14.9-9.8-19.7C414.3,162.3,256,25.6,256,25.6z" />
          </svg>
        </a>
      </div>
      <div class="flex-none hidden">
        <ul class="menu menu-horizontal">
          <!-- Navbar menu content here -->
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col items-center justify-center w-full">
      <!-- Page content here -->
      <main class="w-9/10 pt-12 min-h-screen">
        <slot />
      </main>
      <Footer />
    </div>
  </div>
</div>
