<script>
  import Resume from '$lib/Resume.svelte'
</script>

<div class="w-screen">
  <div class="flex flex-col">
    <div class="self-center absolute mt-10">
      <a href="/resume"
         class="btn tablet:btn-lg btn-secondary btn-secondary-content hover:btn-secondary hover:btn-secondary-content rounded-full m-5"
      >
        Resume
      </a>
      <a href="/portfolio"
         class="btn tablet:btn-lg btn-secondary btn-secondary-content hover:btn-secondary hover:btn-secondary-content rounded-full m-5"
      >
        Portfolio
      </a>
    </div>
    <picture class="w-100%">
      <source srcset="/hero-images/hero-desktop.jpg" media="(orientation: landscape)" />
      <source srcset="/hero-images/hero-background.jpg" media="(orientation: portrait)" />
      <img class="w-screen"
           alt="image of Kristin in the desert"
           src="static/hero-images/hero-mobile.jpg" />
    </picture>
  </div>
</div>

<!--<div class="hero w-screen min-h-screen"-->
<!--       style=" background-image: url('/hero-images/hero-background.jpg');">-->
<!--  <div class="hero-overlay bg-opacity-0"></div>-->
<!--  <div class="hero-content text-center text-neutral-content">-->
<!--    <div class="max-w-md mt-[185px]">-->
<!--      <a href="/resume"-->
<!--         class="btn btn-secondary btn-secondary-content hover:btn-secondary hover:btn-secondary-content rounded-full mr-7"-->
<!--      >-->
<!--        Resume-->
<!--      </a>-->
<!--      <a href="/portfolio"-->
<!--         class="btn btn-secondary btn-secondary-content hover:btn-secondary hover:btn-secondary-content rounded-full ml-7"-->
<!--      >-->
<!--        Portfolio-->
<!--      </a>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

