<script>
  import yaml from 'js-yaml'
  import _ from 'lodash'
  import activitiesYaml from '../../self-taught/activities.yaml?raw'
  import parseDate from '$lib/helperFunctions/parseDate.ts'

  const activities = yaml.load(activitiesYaml)
  const activitiesArray = _.toPairs(activities)
</script>

{#each activitiesArray as [key, entry]}
  <div class="flex flex-col max-w-screen-laptop pt-4">
    <div class="px-8 items-center space-y-2 whitespace-normal">
      <div class="text-lg font-bold">{entry.title}</div>
      <div class="flex flex-col px-6 whitespace-normal">
        <div><span class="font-bold">Description:</span>
          {#if entry.desc}
            {entry.desc}
          {:else}
            <span>-</span>
          {/if}
        </div>
        <div><span class="font-bold">Started:</span> {parseDate(entry.started_at)}</div>
        <div><span class="font-bold">Finished:</span> {parseDate(entry.finished_at)}</div>
        <div><span class="font-bold">Links: </span>
          {#each entry.links as {desc, url}}
            {#if desc}
              <a class="text-secondary hover:text-secondary-focus" href="{url}" target="_blank">{desc}
                , </a>
            {:else}
              <span>-</span>
            {/if}
          {/each}
        </div>
      </div>
    </div>
    <div class="divider"></div>
  </div>
{/each}
