<script>
  import yaml from 'js-yaml'
  import _ from 'lodash'
  import bibliographyYaml from '../../self-taught/bibliography.yaml?raw'
  import parseDate from '$lib/helperFunctions/parseDate.ts'

  const bibliography = yaml.load(bibliographyYaml)
  const bibliographyArray = _.toPairs(bibliography)
</script>

{#each bibliographyArray as [key, entry]}
  <div class="flex flex-col max-w-screen-laptop pt-4">
    <div class="px-8 items-center space-y-2 whitespace-normal">
      <div class="text-lg font-bold">{entry.title}</div>
      <div class="flex flex-col px-6 whitespace-normal">
        <div><span class="font-bold">Author/Speaker:</span> {entry.author_speaker}</div>
        <div>
          <span class="font-bold">Media Type:</span>
          <a href="{entry.url}"
             class="text-secondary hover:text-secondary-focus"
          >
            {entry.media_type}
          </a>
        </div>
        <div><span class="font-bold">Date:</span> {parseDate(entry.date)}</div>
        <div><span class="font-bold">Amount:</span> {entry.amount}</div>
        {#if entry.summary}
          <div><span class="font-bold">Comments:</span> {entry.summary}</div>
        {:else if entry.notes}
          <a href="{entry.notes}"
             class="font-bold text-secondary hover:text-secondary-focus"
          >
            Notes
          </a>
        {/if}
      </div>
      <div class="divider"></div>
    </div>
  </div>
{/each}
