<div
  class="card laptop:card-side bg-neutral-content shadow-xl m-5 max-w-[475px] laptop:max-w-screen-laptop">
  <section class="p-10 divide-x laptop:w-1/2">
    <div class="grid grid-cols-3">
      <div class="font-bold">Name:</div>
      <div class="col-span-2 text-right text-secondary">Kristin Brooks</div>
      <div class="font-bold mt-2">Phone:</div>
      <div class="col-span-2 text-right mt-2 text-secondary">+1.503.961.4774</div>
      <div class="font-bold mt-2">Email:</div>
      <div class="col-span-2 text-right text-sm tablet:text-base mt-2 text-secondary">
        kristin.ruth.brooks@gmail.com
      </div>
      <div class="font-bold mt-2">Location:</div>
      <div class="col-span-2 text-right mt-2 text-secondary">Tucson, AZ</div>
      <div class="font-bold mt-2">GitLab:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://gitlab.com/kristinbrooks"
         target="_blank"
      >
        kristinbrooks
      </a>
      <div class="font-bold mt-2">GitHub:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://github.com/kristinbrooks"
         target="_blank"
      >
        kristinbrooks
      </a>
      <div class="font-bold mt-2">LinkedIn:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://www.linkedin.com/in/kristinrbrooks/"
         target="_blank"
      >
        kristinrbrooks
      </a>
      <div class="font-bold mt-2">Discord:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://discord.com/users/653115937679081494"
         target="_blank"
      >
        ktown
      </a>
      <div class="font-bold mt-2">FaceBook:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://www.facebook.com/himemiyaanthy"
         target="_blank"
      >
        Kristin Brooks
      </a>
      <div class="font-bold mt-2">Twitter:</div>
      <a class="col-span-2 text-right mt-2 text-secondary hover:text-secondary-focus underline"
         href="https://twitter.com/kristinCoder"
         target="_blank"
      >
        kristinCoder
      </a>
    </div>
  </section>
  <!--  TODO: this line is throwing an error? -->
  <div
    class="divider laptop:divider-horizontal before:bg-primary-content after:bg-primary-content"></div>
  <section class="card-body laptop:w-1/2">
    <h2 class="card-title pb-3">Send me a Note...</h2>
    <form name="contact" method="POST" netlify-honeypot="bot-field" data-netlify="true">
      <p>
        <label>Your Name:
          <input type="text"
                 name="name"
                 class="input input-bordered input-primary bg-neutral-content w-full mt-1 mb-2"
          />
        </label>
      </p>
      <p>
        <label>Your Email:
          <input type="email"
                 name="email"
                 class="input input-bordered input-primary bg-neutral-content w-full mt-1 mb-2"
          />
        </label>
      </p>
      <p>
        <label>Message:
          <textarea name="message"
                    class="textarea textarea-bordered textarea-primary bg-neutral-content w-full mt-1 mb-2"
          >
          </textarea>
        </label>
      </p>
      <div data-netlify-recaptcha="true"></div>
      <p class="grid justify-end">
        <!--  TODO: this line is throwing an error? -->
        <button type="submit"
                class="btn btn-secondary text-secondary-content hover:btn-secondary-focus hover:btn-secondary-content"
        >
          Send
        </button>
      </p>
    </form>
  </section>
</div>

<form name="netlify-form-example" method="POST" netlify-honeypot="bot-field" data-netlify="true">
  <input type="hidden" name="form-name" value="netlify-form-example" />
  <label for="name">Name</label>
  <input name="name" id="name" required placeholder="Name" type="text" />
  <label for="email">Email</label>
  <input name="email" id="email" required placeholder="Email" type="email" />
  <label for="message">Message</label>
  <input name="message" id="message" required placeholder="Message" type="text" />
  <input type="submit" value="Submit" />
</form>