<script>
  import dailyLogYaml from '../../self-taught/daily_log.yaml?raw'
  import yaml from 'js-yaml'
  import _ from 'lodash'

  const dailyLog = yaml.load(dailyLogYaml)
  const dailyLogArray = _.toPairs(dailyLog)
  console.log(dailyLogArray)
</script>

<main>
  {#each dailyLogArray as [key, entry]}
    <div>{key}</div>
    <div>{entry}</div>
  {/each}
</main>
