<script lang="ts">
  import Firework from "svelte-loading-spinners";
  export let name: any;

  let color: string = "#FF3E00";
  let size: string = "60";
  let unit: string = "px";
  let colorPicker: any;

  function triggerColorPicker() {
    colorPicker.click();
  }
</script>

<div class="spinner-item" title="Firework">
  <Firework {size} {color} />
  <div class="spinner-title">Firework</div>
</div>
