<div id="resume" class="leading-tight tracking-tight">
  <div id="resume-page-1" class="w-[816px] bg-white">
    <div class="text-8xl h-[115px] grid">
    <span class="font-light place-self-center tracking-widest pt-8 text-black">
      Kristin Brooks
    </span>
    </div>
    <div class="grid grid-cols-7 bg-white pl-5 pr-5 h-[939px]">
      <!-- left column -->
      <section class="col-start-1 col-end-4 pt-5">
        <!-- profile/contact -->
        <section class="pb-2">
          <div class="text-2xl text-right font-bold">Contact Info</div>
          <div class="divider -mt-2 -mb-0"></div>
          <div class="text-center pr-3">
            <div>503.961.4774</div>
            <div>kristin.ruth.brooks@gmail.com</div>
            <div>1931 N Tucker Drive, Tucson, AZ 85716</div>
            <div>kristinruthbrooks.dev</div>
          </div>
        </section>
        <!-- objective -->
        <section class="pb-2">
          <div class="text-2xl text-right font-bold">Objective</div>
          <div class="divider -mt-2 -mb-0"></div>
          <p class="pr-3 text-justify">
            Hello! I know I'm still early in my journey, but here is some of the stuff I've learned
            so far. This shows I have the capacity and aptitude to be a great programmer, and I
            would like the opportunity to grow into an entry level position with the proper support.
          </p>
        </section>
        <!-- skills -->
        <section class="pb-2">
          <div class="text-2xl text-right font-bold">Skills</div>
          <div class="divider -mt-2 -mb-0"></div>
          <div class="grid grid-cols-3">
            <div>
              <div class="font-bold"><span class="underline">Experience</span>:</div>
              <ul class="list-inside list-disc">
                <li>JavaScript</li>
                <li>Python</li>
                <li>Java</li>
                <li>React</li>
                <li>Django</li>
                <li>Svelte</li>
                <li>HTML</li>
                <li>CSS</li>
                <li>Tailwind</li>
                <li>Git</li>
                <li>Heroku</li>
                <li>Netlify</li>
              </ul>
            </div>
            <div>
              <div class="font-bold"><span class="underline">Exposure</span>:</div>
              <ul class="list-disc list-inside">
                <li>Ruby</li>
                <li>Rails</li>
                <li>Rust</li>
                <li>SQL</li>
                <li>MongoDB</li>
                <li>jQuery</li>
              </ul>
            </div>
            <div>
              <div class="font-bold"><span class="underline">Soft Skills</span>:</div>
              <ul class="list-disc list-inside">
                <li>Teamwork</li>
                <li>Organiz-<span class="pl-6">ation</span></li>
                <li>Analytical
                  <div class="pl-6">thinking</div>
                </li>
              </ul>
            </div>
          </div>
        </section>
        <!-- memberships/awards -->
        <section class="pb-2">
          <div class="text-2xl text-right font-bold">Memberships & Awards</div>
          <div class="divider -mt-2 -mb-0"></div>
          <ul>
            <li class="font-bold">Phi Theta Kappa Honor Society</li>
            <li class="font-bold">Society of Women Engineers</li>
            <li>
              <div class="font-bold">Historical Society Internship,</div>
              <div class="pl-1.5 font-bold">Summer 2009:</div>
              <ul class="list-disc pl-6">
                <li class="pb-2">
                  Interview and Profile of Dress Restoration on PBS show, Arizona Illustrated,
                  November 2009;
                </li>
                <li>
                  Article about Project in MAA (Museum Association of Arizona) Gallery, Spring 2010
                  Issue
                </li>
              </ul>
            </li>
            <li>
              <div class="font-bold">Best in Show, May 2009</div>
              <div class="pl-6">Pima Community College Spring Fashion Show</div>
            </li>
          </ul>
        </section>
      </section>
      <!--  middle section-->
      <section class="col-start-4 col-end-5"></section>
      <!-- right column -->
      <section class="col-start-5 col-end-8 pt-5">
        <!-- coding -->
        <section>
          <!-- joy of coding -->
          <section class="pb-2">
            <div class="text-2xl font-bold">Joy of Coding Academy</div>
            <div class="divider -mt-2 -mb-0"></div>
            <div class="pl-6 text-justify pb-2">
              An online bootcamp style program headed by Dr. Emily Hill. It begins with classwork
              covering the programming fundamentals, followed by a team internship project.
            </div>
            <div class="pl-3 pb-2">
              <div class="text-xl font-bold">'Off Road Fun Finder' Internship</div>
              <div class="pl-3 font-bold">Joined team in June 2022</div>
              <div class="pl-3 pb-2 font-bold">Backend Lead since August 2022</div>
              <div class="pl-3 text-justify">
                The team is building an app for a client that is designed to find
                motocross tracks in the user's area and allow them to participate in challenges. I
                built the majority of the base functionality (Django and React) for the admin
                interface to be used by the client. Now, as the backend lead, in addition to my own
                tickets, I help other team members learn how to add their features' functionality to
                the backend. When backend tickets
                are completed I test the branches in our staging environment and merge them in if
                they are working. If they work in staging I send them to be merged into production.
                If either of those steps fail, I send them back to their developer for revisions.
              </div>
            </div>
            <div class="pl-3 pb-2">
              <div class="text-xl font-bold">Employee, <span class="text-base">June 2022</span>
              </div>
              <div class="pl-3 text-justify">
                I host two Zoom Q&A sessions a week and give feedback on the students' Python
                assignments.
              </div>
            </div>
          </section>
          <!-- code in place -->
          <section class="pb-2">
            <div class="text-2xl font-bold">Code in Place</div>
            <div class="divider -mt-2 -mb-0"></div>
            <div class="pl-3 text-justify">
              Stanford hosted a worldwide version of their introductory Python class online for
              people to learn new skills at the start of the pandemic. It was a six week class with
              10,000 students and 800 volunteers to lead weekly discussion sessions. I made an 8-bit
              Avatar maker as my final project.
            </div>
          </section>
          <section>
            <div class="text-2xl font-bold">Arizona State University</div>
            <div class="divider -mt-2 -mb-0"></div>
            <div class="pl-3 text-justify">
              Took two online introductory java programming classes.
            </div>
          </section>
        </section>
      </section>
    </div>
  </div>
  <div id="resume-page-2" class="w-[816px]">
    <div class="grid grid-cols-7 bg-white pt-12 pl-5 pr-5 h-[1034px]">
      <!-- left column -->
      <section class="col-start-1 col-end-4 pt-10">
        <!-- prior experience: education -->
        <section class="pb-2">
          <div class="text-2xl text-right font-bold">Prior Education Experience</div>
          <div class="divider -mt-2 -mb-0"></div>
          <ul>
            <li class="pb-2">
              <div class="font-bold text-lg -mb-2">Associate of Applied Arts</div>
              <div class="grid grid-flow-col">
                <span class="font-bold text-lg">Pima Community College</span>
                <span class="place-self-end font-bold">Tucson, AZ</span>
              </div>
              <div class="pl-6">Apparel Design (AAA), Engineering, and Computer Aided Design</div>
            </li>
            <li class="pb-2">
              <div class="grid grid-flow-col">
                <span class="font-bold text-lg">University of Arizona</span>
                <span class="place-self-end font-bold">Tucson, AZ</span>
              </div>
              <div class="pl-6">Mathematics and Engineering</div>
            </li>
            <li class="pb-2">
              <div class="grid grid-flow-col">
                <span class="font-bold text-lg">Portland State University</span>
                <span class="place-self-end font-bold">Portland, OR</span>
              </div>
              <div class="pl-6">Fine Arts and Mathematics</div>
            </li>
            <li>
              <div class="grid grid-flow-col">
                <span class="font-bold text-lg">University of Wisconsin</span>
                <span class="place-self-end font-bold">Madison, WI</span>
              </div>
              <div class="grid grid-flow-col">
                <span class="place-self-end font-bold">& Menomonie, WI</span>
              </div>
              <div class="pl-6">Fine Arts, Apparel Design, and Japanese</div>
            </li>
          </ul>
        </section>
        <!-- references -->
        <section>
          <div class="text-2xl text-right font-bold">References</div>
          <div class="divider -mt-2 -mb-0"></div>
          <div class="pb-2">
            <div class="grid grid-flow-col font-bold">
              <span class="text-lg">Emily Hill</span>
              <span class="place-self-end">201.317.3554</span>
            </div>
            <div class="font-bold">emily@joyofcoding.academy</div>
            <div class="pl-6">Mentor and Employer, Joy of Coding Academy</div>
          </div>
          <div class="pb-2">
            <div class="grid grid-flow-col font-bold">
              <span class="text-lg">Chad Woolley</span>
              <span class="place-self-end">520.861.1183</span>
            </div>
            <div class="font-bold">thewoolleyman@gmail.com</div>
            <div class="pl-6">Mentor, senior engineer at GitLab</div>
          </div>
          <div>
            <div class="grid grid-flow-col font-bold">
              <span class="text-lg">Sherri Starkey</span>
              <span class="place-self-end">480.528.8350</span>
            </div>
            <div class="font-bold">starkey.sherri@gmail.com</div>
            <div class="pl-6">Internship partner at the Arizona Historical Society</div>
          </div>
        </section>
      </section>
      <!--  middle section-->
      <section class="col-start-4 col-end-5"></section>
      <!-- right column -->
      <section class="col-start-5 col-end-8">
        <!-- prior experience: work -->
        <section>
          <div class="text-2xl font-bold pt-10">Prior Work Experience</div>
          <div class="divider -mt-2 -mb-0"></div>
          <div class="pb-2">
            <div class="font-bold text-lg">Embroiderer, Mr.Tee's</div>
            <div class="pl-6 text-justify">
              Ran one and six head embroidery machines for shirts, hats, and custom items.
            </div>
          </div>
          <div class="pb-2">
            <div class="font-bold text-lg -mb-2">Library Assistant,</div>
            <div class="font-bold text-lg">Secrist Middle School</div>
            <div class="pl-6 text-justify">
              Ran the library, including: managing book class sets for staff, creating displays for
              events and holidays, planning and running student focused activities; re-coded the
              Scholastic Guided Reading Library in the library computer system to ease use for
              teachers.
            </div>
          </div>
          <div class="pb-2">
            <div class="font-bold text-lg -mb-2">Math Tutor,</div>
            <div class="font-bold text-lg">Pima Community College</div>
            <div class="pl-6 text-justify">
              Tutored basic math through multivariable calculus and differential
              equations.
            </div>
          </div>
          <div class="pb-2">
            <div class="font-bold text-lg -mb-2">Embroiderer, Aztec Embroidery</div>
            <div class="font-bold text-lg">and Screenprinting</div>
            <div class="pl-6 text-justify">
              Ran one head through eight head embroidery machines for shirts, hats,
              and custom items.
            </div>
          </div>
          <div>
            <div class="font-bold text-lg">Intern, Arizona Historical Society</div>
            <div class="pl-6 text-justify">
              Collaborated with a partner to restore and pattern an 1883 Antique
              Wedding Dress from a founding Tucson family for a museum exhibit.
            </div>
          </div>
        </section>
      </section>
    </div>
  </div>
</div>
