<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Adobe XD
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <ul class="menu">
      <li>
        <a on:click={clicked}
          href="/notes/adobeXD/adobe_keyboard_shortcuts.md">
          Keyboard Shortcuts
        </a>
      </li>
      <li><a on:click={clicked} href="/notes/adobeXD/intro.md">Intro</a></li>
      <li><a on:click={clicked} href="/notes/adobeXD/type_color_icon_intro.md">Type, Color, and Icon Intro</a></li>
      <li><a on:click={clicked} href="/notes/adobeXD/wireframing_low_fidelity.md">Low Fidelity Wireframing</a></li>
    </ul>
  </div>
</div>
