<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Functional Programming
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <div class="collapse collapse-arrow">
      <input type="checkbox" class="peer"/>
      <div class="collapse-title">
        F#
      </div>
      <div class="collapse-content peer-checked:bg-accent-focus peer-checked:text-accent-content">
        <ul>
          <li><a on:click={clicked} href="/notes/functional_programming/F-sharp/basics.md">Basics</a></li>
          <li><a on:click={clicked} href="/notes/functional_programming/F-sharp/core_concepts.md">Core Concepts</a>
          <li><a on:click={clicked} href="/notes/functional_programming/F-sharp/README.md">Read Me</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="collapse collapse-arrow">
      <input type="checkbox" class="peer"/>
      <div class="collapse-title">
        Haskell
      </div>
      <div class="collapse-content peer-checked:bg-accent-focus peer-checked:text-accent-content">
        <ul>
          <li>
            <a on:click={clicked} href="/notes/functional_programming/haskell/basic_expressions_and_functions.md">
              Basic Expressions & Functions
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/conditionals.md">Conditionals</a></li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/haskell_README.md">ReadMe</a></li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/lambda_calculus.md">Lambda Calculus</a>
          </li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/lists.md">Lists</a></li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/misc.md">Misc.</a></li>
          <li>
            <a on:click={clicked} href="/notes/functional_programming/haskell/setup_and_basic_stack_commands.md">
              Setup & Basic Stack Commands
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/strings.md">Strings</a></li>
          <li>
            <a on:click={clicked} href="/notes/functional_programming/haskell/syntax_in_functions.md">
              Function Syntax
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/tuples.md">Tuples</a></li>
          <li><a on:click={clicked} href="/notes/functional_programming/haskell/types.md">Types</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
