<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Html/Css/Design
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <ul>
      <li><a on:click={clicked} href="/notes/HTML-CSS-Design/behind_the_scene.md">Behind the Scenes</a></li>
      <li><a on:click={clicked} href="/notes/HTML-CSS-Design/css.md">CSS</a></li>
      <li><a on:click={clicked} href="/notes/HTML-CSS-Design/html.md">HTML</a></li>
      <li><a on:click={clicked} href="/notes/HTML-CSS-Design/responsive_web_design.md">Responsive Web Design</a></li>
      <li>
        <a on:click={clicked} href="/notes/HTML-CSS-Design/steps_to_a_fully_functional_website.md">
          Steps to a Fully Functional Website
        </a>
      </li>
      <li><a on:click={clicked} href="/notes/HTML-CSS-Design/web_design_basics.md">Web Design Basics</a></li>
    </ul>
  </div>
</div>
