<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Javascript
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <div class="collapse collapse-arrow">
      <input type="checkbox" class="peer"/>
      <div class="collapse-title">
        Behind the Scenes
      </div>
      <div class="collapse-content peer-checked:bg-accent-focus peer-checked:text-primary-content">
        <ul>
          <li>
            <a on:click={clicked} href="/notes/javascript/behind_the_scenes/arguments_keyword.md">
              Arguments Keyword
            </a>
          </li>
          <li>
            <a on:click={clicked} href="/notes/javascript/behind_the_scenes/execution_contexts_and_the_call_stack.md">
              Executions Contexts and the Call Stack
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/javascript/behind_the_scenes/keyword_this.md">Keyword `This`</a></li>
          <li><a on:click={clicked} href="/notes/javascript/behind_the_scenes/overview.md">Overview</a></li>
          <li>
            <a on:click={clicked} href="/notes/javascript/behind_the_scenes/primitives_vs_objects.md">
              Primitives vs. Objects
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/javascript/behind_the_scenes/scope_chain.md">Scope Chain</a></li>
          <li><a on:click={clicked} href="/notes/javascript/behind_the_scenes/this_keyword.md">`this` Keyword</a></li>
          <li>
            <a on:click={clicked} href="/notes/javascript/behind_the_scenes/variable_environments.md">
              Variable Environments
            </a>
          </li>
          <li>
            <a on:click={clicked} href="/notes/javascript/behind_the_scenes/what_is_a_javascript_engine.md">
              What is a Javascript Engine?
            </a>
          </li>
        </ul>
      </div>
    </div>
    <ul>
      <li>
        <a on:click={clicked} href="/notes/javascript/advanced_dom_manipulation.md">
          Advanced DOM Manipulation
        </a>
      </li>
      <li><a on:click={clicked} href="/notes/javascript/advanced_jQuery.md">Advanced jQuery</a></li>
      <li><a on:click={clicked} href="/notes/javascript/arrays.md">Arrays</a></li>
      <li><a on:click={clicked} href="/notes/javascript/asynchronous_programming.md">Asynchronous Programming</a></li>
      <li><a on:click={clicked} href="/notes/javascript/basics.md">Basics</a></li>
      <li><a on:click={clicked} href="/notes/javascript/chaining.md">Chaining</a></li>
      <li><a on:click={clicked} href="/notes/javascript/closures.md">Closures</a></li>
      <li><a on:click={clicked} href="/notes/javascript/conditionals_and_loops.md">Conditionals and Loops</a></li>
      <li><a on:click={clicked} href="/notes/javascript/currying.md">Currying</a></li>
      <li><a on:click={clicked} href="/notes/javascript/destructuring.md">Destructuring</a></li>
      <li><a on:click={clicked} href="/notes/javascript/dom_manipulation.md">DOM Manipulation</a></li>
      <li><a on:click={clicked} href="/notes/javascript/functional_js_with_ramda.md">Functional JS with Ramda</a></li>
      <li><a on:click={clicked} href="/notes/javascript/functions.md">Functions</a></li>
      <li><a on:click={clicked} href="/notes/javascript/jQuery.md">jQuery</a></li>
      <li><a on:click={clicked} href="/notes/javascript/node.md">Node</a></li>
      <li>
        <a on:click={clicked} href="/notes/javascript/nullish_coalescing_operator.md">
          Nullish Coalescing Operator
        </a>
      </li>
      <li><a on:click={clicked} href="/notes/javascript/object_literals.md">Object Literals</a></li>
      <li><a on:click={clicked} href="/notes/javascript/object_oriented_programming.md">Object Oriented Programming</a></li>
      <li><a on:click={clicked} href="/notes/javascript/rendering_html_and_templates.md">Rendering HTML & Templates</a></li>
      <li><a on:click={clicked} href="/notes/javascript/server_side_frameworks.md">Server Side Frameworks</a></li>
      <li><a on:click={clicked} href="/notes/javascript/short_circuiting.md">Short Circuiting</a></li>
      <li><a on:click={clicked} href="/notes/javascript/spread_and_rest.md">Spread & Rest</a></li>
    </ul>
  </div>
</div>
