<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Python
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <ul>
      <li><a on:click={clicked} href="/notes/python/dictionaries.md">Dictionaries</a></li>
      <li><a on:click={clicked} href="/notes/python/doctest.md">Doctest</a></li>
      <li><a on:click={clicked} href="/notes/python/exception_handling.md">Exception Handling</a></li>
      <li><a on:click={clicked} href="/notes/python/files.md">Files</a></li>
      <li><a on:click={clicked} href="/notes/python/linked_list.md">Linked Lists</a></li>
      <li><a on:click={clicked} href="/notes/python/lists_basics.md">Lists: Basics</a></li>
      <li><a on:click={clicked} href="/notes/python/lists_extended.md">Lists: Extended</a></li>
      <li><a on:click={clicked} href="/notes/python/loops.md">Loops</a></li>
      <li><a on:click={clicked} href="/notes/python/modules.md">Modules</a></li>
      <li><a on:click={clicked} href="/notes/python/searching.md">Searching</a></li>
      <li><a on:click={clicked} href="/notes/python/stacks_and_queues.md">Stacks & Queues</a></li>
      <li><a on:click={clicked} href="/notes/python/strings.md">Strings</a></li>
      <li><a on:click={clicked} href="/notes/python/text_processing.md">Text Processing</a></li>
      <li><a on:click={clicked} href="/notes/python/tuples.md">Tuples</a></li>
      <li><a on:click={clicked} href="/notes/python/variable_parameters.md">Variable Parameters</a></li>
    </ul>
  </div>
</div>
