<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Rails
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <ul>
      <li><a on:click={clicked} href="/notes/rust/basics.md">Basics</a></li>
    </ul>
  </div>
</div>
