<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer"/>
  <div class="collapse-title">
    Theoretical Computer Science
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <ul>
      <li><a on:click={clicked} href="/notes/theoretical_computer_science/big_o_notation.md">Big O Notation</a></li>
      <li><a on:click={clicked} href="/notes/theoretical_computer_science/complexity_theory.md">Complexity Theory</a></li>
    </ul>
    <div class="collapse collapse-arrow">
      <input type="checkbox" class="peer"/>
      <div class="collapse-title">
        Udacity Intro Class
      </div>
      <div class="collapse-content peer-checked:bg-accent-focus peer-checked:text-accent-content">
        <ul>
          <li><a on:click={clicked} href="/notes/theoretical_computer_science/Lesson1.md">Lesson 1</a></li>
          <li><a on:click={clicked} href="/notes/theoretical_computer_science/README.md">ReadMe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
