<script>
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" class="peer" />
  <div class="collapse-title">
    Vue
  </div>
  <div class="collapse-content peer-checked:bg-accent peer-checked:text-accent-content">
    <div class="collapse collapse-arrow">
      <input type="checkbox" class="peer" />
      <div class="collapse-title">
        Frontend Masters Into Class
      </div>
      <div class="collapse-content peer-checked:bg-accent-focus peer-checked:text-accent-content">
        <ul>
          <li>
            <a on:click={clicked} href="/notes/vue/frontend_masters_intro_class/1-intro.md">
              1: Intro
            </a>
          </li>
          <li>
            <a on:click={clicked}
               href="/notes/vue/frontend_masters_intro_class/2-directives-modifiers-data-rendering.md">
              2: Directives, Modifiers, & Data Rendering
            </a>
          </li>
          <li>
            <a on:click={clicked}
               href="/notes/vue/frontend_masters_intro_class/3-methods-computed_properties-watchers.md">
              3: Methods, Computed Properties, & Watchers
            </a>
          </li>
          <li><a on:click={clicked} href="/notes/vue/frontend_masters_intro_class/README.md">ReadMe</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
