<script>
  // import Portfolio from '$lib/Portfolio.svelte'
</script>

<!--<Portfolio />-->
<div class="w-screen pt-12">
  <div class="max-w-screen-laptop">
    <div class="text-5xl p-4 pl-10">Portfolio</div>
    <div class="flex flex-wrap">
      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <figure><img src="/hhkh-game.png" alt="Hush Hush Kleine Hex" /></figure>
        <div class="card-body">
          <h2 class="card-title">Hush Hush Kleine Hex Game</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-between">
            <label for="my-modal-1"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://gitpod.io/#https://gitlab.com/kristinbrooks/Hush-Hush-Keine-Hexe"
               target="_blank"
            >
              Open in Gitpod
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-1" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-1" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>

      </div>

      <br />

      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <figure><img src="/yelpcamp.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Yelpcamp</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-between">
            <label for="my-modal-2"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://cryptic-meadow-28195.herokuapp.com/"
               target="_blank"
            >
              Go to Site
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-2" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-2" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>

      </div>

      <br />

      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <div class="video-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jMF4NbWA0xc"
                  title="YouTube video player"
                  allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen>

          </iframe>
        </div>
        <div class="card-body">
          <h2 class="card-title">8 Bit Avatar Maker</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>

          <div class="card-actions justify-between">
            <label for="my-modal-3"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://gitpod.io/#https://gitlab.com/kristinbrooks/Hush-Hush-Keine-Hexe"
               target="_blank"
            >
              Open in Gitpod
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-3" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-3" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>
      </div>

      <br />

      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <figure><img src="flanderizer.png" alt="Flanderizer" /></figure>
        <div class="card-body">
          <h2 class="card-title">Flanderizer</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-between">
            <label for="my-modal-4"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://upbeat-beaver-f4f7ac.netlify.app/"
               target="_blank"
            >
              Go to Site
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-4" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-4" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>
      </div>

      <br />

      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <figure><img src="/frontend-mentor.png" alt="Off Road Fun Finder" /></figure>
        <div class="card-body">
          <h2 class="card-title">Frontend Mentor</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-between">
            <label for="my-modal-5"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://www.frontendmentor.io/home/my-challenges?tab=completed"
               target="_blank"
            >
              Go to Site
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-5" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-5" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>
      </div>

      <br />

      <div class="card w-96 bg-neutral-content shadow-xl m-5">
        <figure><img src="/orff.png" alt="Shoes" /></figure>
        <div class="card-body">
          <h2 class="card-title">Off Road Fun Finder</h2>
          <p>If a dog chews shoes whose shoes does he choose?</p>
          <div class="card-actions justify-between">
            <label for="my-modal-6"
                   class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
            >
              open modal
            </label>
            <a class="btn btn-secondary btn-secondary-focus text-secondary-content rounded-[20px]"
               href="https://offroadfunfinder.com/login"
               target="_blank"
            >
              Go to Site
            </a>
          </div>
        </div>
        <input type="checkbox" id="my-modal-6" class="modal-toggle" />
        <div class="modal">
          <div class="modal-box w-11/12 max-w-5xl">
            <label for="my-modal-6" class="btn btn-sm btn-circle absolute right-2 top-2">✕</label>
            <h3 class="font-bold text-lg">Congratulations random Internet user!</h3>
            <p class="py-4">You've been selected for a chance to get one year of subscription to use
              Wikipedia for free!</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>