<script lang="ts">
  import SvelteMarkdown from 'svelte-markdown'
  // noinspection TypeScriptCheckImport
  import type {PageData} from './$types'

  export let data: PageData
  $:source = data.markdown
</script>

<article class="prose w-screen p-6 pt-12 laptop:min-w-fit">
  <SvelteMarkdown {source} />
</article>
