<script>
  import AdobeXD from '$lib/Sidebar/notes_link_menus/AdobeXD.svelte'
  import FunctionalProgramming from '$lib/Sidebar/notes_link_menus/FunctionalProgramming.svelte'
  import HtmlCssDesign from '$lib/Sidebar/notes_link_menus/HtmlCssDesign.svelte'
  import Javascript from '$lib/Sidebar/notes_link_menus/Javascript.svelte'
  import Python from '$lib/Sidebar/notes_link_menus/Python.svelte'
  import Rails from '$lib/Sidebar/notes_link_menus/Rails.svelte'
  import Rust from '$lib/Sidebar/notes_link_menus/Rust.svelte'
  import TheoreticalComputerScience from '$lib/Sidebar/notes_link_menus/TheoreticalComputerScience.svelte'
  import Vue from '$lib/Sidebar/notes_link_menus/Vue.svelte'
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div class="collapse collapse-arrow">
  <input type="checkbox" />
  <div class="collapse-title">
    Notes
  </div>
  <div class="collapse-content">
    <ul>
      <AdobeXD />
      <li><a on:click={clicked} href="/notes/algorithms.md">Algorithms</a></li>
      <li><a on:click={clicked} href="/notes/apis_routes.md">APIs & Routes</a></li>
      <li><a on:click={clicked} href="/notes/authentication.md">Authentication</a></li>
      <li><a on:click={clicked} href="/notes/backend_basics.md">Backend Basics</a></li>
      <li><a on:click={clicked} href="/notes/command_line.md">Command Line</a></li>
      <li><a on:click={clicked} href="/notes/data_associations.md">Data Associations</a></li>
      <li><a on:click={clicked} href="/notes/databases.md">Databases</a></li>
      <FunctionalProgramming />
      <li><a on:click={clicked} href="/notes/git.md">Git</a></li>
      <li><a on:click={clicked} href="/notes/hash_tables.md">Hash Tables</a></li>
      <li><a on:click={clicked} href="/notes/how_to_become_a_dev.md">How to Become a Dev</a></li>
      <li><a on:click={clicked} href="/notes/how_to_debug.md">Debugging</a></li>
      <HtmlCssDesign />
      <li><a on:click={clicked} href="/notes/jamstack.md">Jamstack</a></li>
      <Javascript />
      <li><a on:click={clicked} href="/notes/jetbrains.md">Jetbrains</a></li>
      <li><a on:click={clicked} href="/notes/keyboard_shortcuts.md">Keyboard Shortcuts</a></li>
      <li><a on:click={clicked} href="/notes/package_managers.md">Package Managers</a></li>
      <Python />
      <Rails />
      <li><a on:click={clicked} href="/notes/recursion.md">Recursion</a></li>
      <li><a on:click={clicked} href="/notes/regular_expressions.md">Regular Expressions</a></li>
      <Rust />
      <TheoreticalComputerScience />
      <li><a on:click={clicked} href="/notes/types_of_programming.md">Programming Paradigms</a></li>
      <Vue />
    </ul>
  </div>
</div>
