<script>
  import NotesLinks from '$lib/Sidebar/NotesMenu.svelte'
  import clicked from '$lib/helperFunctions/clicked.ts'
</script>

<div>
  <ul>
    <li><a on:click={clicked} href="/resume">Resume</a></li>
    <li><a on:click={clicked} href="/portfolio">Portfolio</a></li>
    <li><a on:click={clicked} href="/bibliography">Bibliography</a></li>
    <li><a on:click={clicked} href="/activities">Activities</a></li>
  </ul>
  <NotesLinks />
  <div class="divider before:bg-primary-content after:bg-primary-content"></div>
  <ul>
    <li><a on:click={clicked} href="/">Home</a></li>
    <li><a on:click={clicked} href="/contact">Contact</a></li>
<!--    <li><a on:click={clicked} href="/about">About Me</a></li>-->
  </ul>
</div>
