@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    code {
        background-color: theme('colors.neutral');
    }

    header {
        background-color: hsl(259, 94%, 84%);
    }


    pre {
        @apply overflow-x-scroll;
    }

    #resume {
        font-family: 'Open Sans', sans-serif;
    }

    .btn-home {
        fill: theme('colors.primary-content');
    }

    .prose :where(code):not(:where([class~="not-prose"] *)) {
        color: theme('colors.neutral-content');
    }

    .prose :where(ul > li):not(:where([class~="not-prose"] *))::marker {
        color: theme('colors.accent-focus');
    }

    .prose :where(a):not(:where([class~="not-prose"] *)) {
        color: theme('colors.secondary');
    }

    .prose :where(a):not(:where([class~="not-prose"] *)):hover {
        color: theme('colors.secondary-focus');
    }

    .video-container {
        position: relative;
        padding-bottom: 56.25%;
        padding-top: 30px;
        height: 0;
        overflow: hidden;
    }

    .video-container iframe, .video-container object, .video-container embed {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

}
